<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>credits.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,186},{215,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,90}}</string>
                <key>sourceSize</key>
                <string>{215,90}</string>
            </dict>
            <key>license.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,94},{215,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,90}}</string>
                <key>sourceSize</key>
                <string>{215,90}</string>
            </dict>
            <key>mainmenu_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{641,964}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{641,964}}</string>
                <key>sourceSize</key>
                <string>{641,964}</string>
            </dict>
            <key>recharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{215,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,90}}</string>
                <key>sourceSize</key>
                <string>{215,90}</string>
            </dict>
            <key>start_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,2},{215,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,90}}</string>
                <key>sourceSize</key>
                <string>{215,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menu_scene.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7f5fd623b71e49fe86fcd016bca7a37:1/1$</string>
            <key>textureFileName</key>
            <string>menu_scene.png</string>
        </dict>
    </dict>
</plist>
